<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <!-- <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item> -->

      <!-- <ion-item>
        <ion-label>Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label>Preferred project</ion-label>
        <ion-select formControlName="prefProject">
          <ion-option *ngFor="let project of this.vmprojects.vmProjects" [value]="project.Project_acronym">{{ project.Project_acronym}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Skip intro on startup</ion-label>
        <ion-toggle formControlName="skipIntro"></ion-toggle>
      </ion-item>

      <button ion-item (click)="updateProjects()">
        Project list updated on {{ projectsUpdated }}.  Update now.
      </button>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        Account settings
      </button>

      <button ion-item [navPush]="subSettings" [navParams]="picSettings">
        Edit picture settings
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-label>{{ options.email }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>User Id</ion-label>
        <ion-label>{{ options.userid }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>User Name</ion-label>
        <ion-label>{{ options.username }}</ion-label>
      </ion-item>

      <button ion-button block (click)="login()" class="login">{{ loginButtonText }}</button>
      <button ion-button block (click)="logout()" class="login">Log Out</button>
      <ion-item>
        <ion-label><a href='http://www.adu.org.za/register.php?project=vmus'>Manage account (external link)</a></ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="page == 'pics'">
      <ion-item>
        <ion-label>Picture quality</ion-label>
        <ion-input formControlName="quality"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Picture size (width or height)</ion-label>
        <ion-input formControlName="picsize"></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
