<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <!-- <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item> -->

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Preferred project</ion-label>
        <ion-select formControlName="prefProject">
          <ion-option *ngFor="let project of this.vmprojects.vmProjects" [value]="project.Project_acronym">{{ project.Project_acronym}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Skip intro on startup</ion-label>
        <ion-toggle formControlName="skipIntro"></ion-toggle>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
