<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="addItem()"> -->
      <button ion-button icon-only (click)="addRecord()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher
      pulling-text="Refreshing..."
      on-refresh="doRefresh()">
    </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let item of this.vmrecords.arr">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start *ngIf="item.pic1">
          <!-- <img [src]="pathForImage(item.pic1)" /> -->
          <!-- <img [src]="item.pic1" /> -->
          <img [src]="'data:image/jpg;base64,' + form.value.pic1" />
        </ion-avatar>
        <h2>{{ item.id }}: {{ item.locality }}</h2>
        <p>{{item.userdet || item.project}}</p>
        <ion-note item-end *ngIf="item.userdet">{{ item.project }}</ion-note>
      </button>

    </ion-item-sliding>
  </ion-list>
</ion-content>
